	<footer class="footer columns">
		<div class="column content">
			{{- $dates := newScratch }}
			{{- $dates.Set "min" (now) }}
			{{- $dates.Set "max" (time "1970-01-01") }}
			{{- range .Site.Pages }}
				{{- $mindate := $dates.Get "min" }}
				{{- $maxdate := $dates.Get "max" }}
				{{- if lt .Lastmod $mindate }}
					{{- $dates.Set "min" .Lastmod }}
				{{- end}}
				{{- if gt .Lastmod $maxdate }}
					{{- $dates.Set "max" .Lastmod }}
				{{- end}}
			{{- end -}}
			<p>&copy; <a href="{{ .Site.Params.github.people }}">Postflight Team</a>, {{ ($dates.Get "min").Format "2006" }}-{{ ($dates.Get "max").Format "2006" }}</p>
		</div>
		<div class="column">
			<p>
				Photos by
				<a href="https://unsplash.com/photos/-r4CK5tFND8" rel="external">Ben Knight</a>,
				<a href="https://unsplash.com/photos/72SIp7T8AHE" rel="external">Marcus Zymmer</a>
				<a href="https://unsplash.com/photos/7GOkjz3dRtA" rel="external">(bis)</a>,
				<a href="https://unsplash.com/photos/2qkISVyMwW8" rel="external">MAX LIBERTINE</a>,
				<a href="https://unsplash.com/photos/TC6u_HnDDqs" rel="external">Shaun Darwood</a>,
				<a href="https://unsplash.com/photos/4UgUpo3YdKk" rel="external">Chris Leipelt</a>,
				<a href="https://unsplash.com/photos/Yfldq11ANNI" rel="external">Jp Valery</a> and
				<a href="https://unsplash.com/photos/ZEiqbaQhmvE" rel="external">Avel Chuklanov</a>
				on <a href="https://unsplash.com" rel="external">Unsplash</a>.
			</p>
		</div>
	</footer>