	<section class="slide-features" id="features">
		<h2 class="title">Features</h2>
		<div class="feature one">
			<div class="picture"></div>
			<div class="description">
				<span class="icon is-large"><i class="fas fa-tachometer-alt fa-2x"></i></span>
				<h3>Quick overview dashboard</h3>
				<p>Check your license renewal status and your total flight time in a glimpse.</p>
			</div>
		</div>
		<div class="feature two">
			<div class="picture"></div>
			<div class="description">
				<span class="icon is-large"><i class="fas fa-toggle-on fa-2x"></i></span>
				<h3>Customisable user interface</h3>
				<p>Choose what to see in flight log and new flight form.</p>
			</div>
		</div>
		<div class="feature three">
			<div class="picture"></div>
			<div class="description">
				<span class="icon is-large"><i class="fas fa-language fa-2x"></i></span>
				<h3>Multilingual user interface</h3>
				<p>{{ .Site.Title }} is available in English and French and can easily be translated in other languages.</p>
			</div>
		</div>
	</section>